{{#foreach posts}}
<section id="{{id}}" class="{{post_class}}">
	<h3 class="post-title"><a href="{{url}}">{{title}}</a><span class="taglist">  {{tags separator=" "}}</span><span class="separator"> &middot; </span><span class="date_separator">Last update: {{date updated_at format='MMMM D, YYYY'}} </span>{{#if featured}}<i class="fa fa-star-o feature-star"></i>{{/if}}</h3>
</section>
{{/foreach}}