{{!< default}}
{{#is "index"}}
{{#get "posts" slug="index"}}
  <h2>Welcome to Veniam Internal</h2>
  <p>Browse the categories on the left.</p>
  {{#post}}
  <h2><a href="{{slug}}">{{title}}</a></h2>
  <div class="post-content">
    {{content}}
  </div>
  {{/post}}
{{/get}}

{{else}}
    {{> postlist}}
    {{pagination}}
{{/is}}