{{!< default}}
{{#post}}
<article id="{{id}}" class="{{post_class}}">
	<div class="post-stamp"><span class="taglist">{{tags separator=" "}}</span><span class="date_separator"><span class="separator"> &middot; </span> Last update: {{date updated_at format='MMMM D, YYYY'}} </span>{{#if featured}}<i class="fa fa-star-o feature-star"></i>{{/if}}</div>
	<h1 class="post-title">{{title}}</h1>
	{{content}}
    <hr>
    <div id="email-format-text">
    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=CHANGE@THIS.COM&tf=1&bcc=%5BYour+Salesforce+email%5D&su=%5BEvent%20Name%5D%20Follow%20Up%3A%20Veniam">Send Email!</a>
       <h3>Email Instructions</h3>
       <p>Select the following text and click in "Send Email!" and make all the required changes in your Gmail compose editor.</p>
	<div class="email-format">
	 {{content}}
	</div>
	</div>
    <script>
        // Default hide email to. Will display if post is tagged as tag-email-templates
        document.getElementById("email-format-text").style.display = "none";        
        var post_class = "{{post_class}}"
        if(post_class.indexOf("tag-email-templates")>0){
             document.getElementById("email-format-text").style.display = "inline";
        }
    </script>
    {{> share}} 
  {{> comments}}
</article>  
{{/post}} 

