{{!< default}}
{{#post}}
<article id="{{id}}" class="{{post_class}}">
	<div class="post-stamp"><span class="taglist">{{tags separator=" "}}</span><span class="date_separator"><span class="separator"> &middot; </span> Last update: {{date updated_at format='MMMM D, YYYY'}} </span>{{#if featured}}<i class="fa fa-star-o feature-star"></i>{{/if}}</div>
	<h1 class="post-title">{{title}}</h1>
	{{content}}
	{{> share}} 
  {{> comments}}
</article>  
{{/post}} 